.videoPlayer-container{
    color: #eee;
    margin-bottom: 32px;
}

iframe{
    margin-top:16px;
    width:100%;
}

@media only screen and (min-width: 750px) {
    iframe{
        margin-left: 32px;
        width:70%;
    }
}