.grid-container{
    width:100%;
}
.grid-header{
    margin-left: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #393e46;
}

.grid-element{
    margin-left:16px;
    width:250px;
    height: 380px;
    padding: 2px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    user-select: none;
}
.grid-element:last-child{
    margin-right: 16px;
}
/*
.grid-content{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
  }

@media only screen and (max-width: 900px) {
    .grid-content{
        display: grid;
        grid-template-columns: auto auto;
        padding: 2px;
      }
  }

  @media only screen and (max-width: 640px) {
    .grid-container{
        width: 100%;
    }
    .grid-content{
        display: grid;
        grid-template-columns: auto;
        padding: 2px;
      }
  }

  */


  @media only screen and (min-width: 590px) {
    .grid-content{
        display: grid;
        grid-template-columns: auto auto;
        padding: 2px;
        justify-content: center;
      }
  } 
  
@media only screen and (min-width: 835px) {
    .grid-content{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 2px;
        justify-content: space-between;
      }
  }


  @media (pointer:none), (pointer:coarse) {
    .grid-content{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        user-select: none;
        }

        .grid-content.active {
            cursor: grabbing;
          }
        
          .grid-content::-webkit-scrollbar {
            display: none;
          }  
  }