.searchBar-container{
    margin:20px;
    width:50%;
}

#icon{
    width: 100%;
    height:20px;
    padding: 10px;
    background-image:url("https://image.flaticon.com/icons/svg/164/164995.svg"); 
    background-repeat: no-repeat; 
    background-position: 6px 5px;
    background-size: 30px;
    text-indent:42px;
    border:0;
    border-bottom: 3px solid #00adb5;
    margin:0;
    outline:none;
    font-size: 18px;
    background-color: #eee;
}

@media only screen and (max-width: 520px) {
    #icon{
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 420px) {
    #icon{
        font-size: 10px;
    }
  }