.header-container{
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 80px;
}
.header-container header img{
    width: 45px;
    height: 45px;
    float: left;
}
.header-container header{
    display: flex;
   align-items: center; 
   color: #00adb5;
}
.header-container header > *{
    margin-left: 1%;
}
.header-link{
    text-decoration: none;
}
