.header_container{
    background: #34495e;
    color: #ecf0f1;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 80px;
}
.header_container header img{
    width: 45px;
    height: 45px;
    float: left;
}
.header_container header{
    display: flex;
   align-items: center; 
}
.header_container header > *{
    margin-left: 1%;
}
