.actor-container{
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  color: #eee;
  margin-bottom: 20px;
}

.actor-container::-webkit-scrollbar {
  display: none;
}

.actor-card{	
  width:100px;
  height:120px;
  display: inline-block;
  margin-left:36px;
  margin-top:16px;
  color: #eee;
}
.actor-card h4, .actor-card p{
  color: #eee;
}
.actor-card-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
}

.actor-card h4, .actor-card p{	
  line-height:15px;
  margin-top:5px;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.actor-card p{
  line-height:12px;
  margin-top:2px;
  font-size: 12px;
}