.actor-container{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
	  -webkit-overflow-scrolling: touch;	
}

/* .actor-content{
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 16px;
    justify-content: space-between;
}

.actor-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 130px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .actor-card img{
      width:100%;
      min-height: 60%;
      border-radius: 10px 10px 0px 0px;
  }
  
  .actor-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .actor-name {
    width:100%;
    display: inline-block;
    text-align: center;
    
  }

  .actor-name h4{
      width: 130px;
      overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .actor-name p{
      font-size: 12px;
      margin-left: 6px;
      margin-right: 6px;
  }


  .fade {
    background: linear-gradient(to bottom, rgba(100,100,100,0) 0%,rgba(100,100,100,1) 75%);
    height: 100px;
    margin-top: -100px;
    position: relative;
  }

   */

   .actor-container::-webkit-scrollbar {
      display: none;
    }

   .actor-card{	
    width:100px;
    height:120px;
    display: inline-block;
    margin-left:16px;
    margin-top:16px;
  }
  .actor-card-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
  }
  .actor-card h4, .actor-card p{	
    line-height:15px;
    margin-top:5px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actor-card p{
    line-height:12px;
    margin-top:2px;
    font-size: 12px;
  }